body {
    margin: 0;
}
.contenedor {
    width: 100%;
    height: 100vh;
    background-color: #121b24;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.6s ease-in-out;
}
button {
    padding: 15px 30px;
    font-size: 24px;
    border: none;
    border-radius: 10px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}
button:hover {
    animation: glow 1s infinite;
}




@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes glow {
    0% {
        box-shadow: 0 0 5px #007BFF, 0 0 10px #007BFF;
    }
    50% {
        box-shadow: 0 0 20px #0056b3, 0 0 40px #007BFF;
    }
    100% {
        box-shadow: 0 0 5px #007BFF, 0 0 10px #007BFF;
    }
}