*{
    color: white;
    font-family: arial;
    line-height: 30px;
}
nav{
    display: flex;
    align-items: center;
}
.titulo{
    position: absolute;
    top:1%;
    left: 3%;
}
.lista {
    position:absolute;
    top: 2%;
    left: 15%;
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

.lista li {
    display: flex;
    align-items: center;
    gap: 8px;
}

.busqueda {
    position:absolute;
    top: 3%;
    right: 3%;
}

.contenedor {
    width: 100%;
    height: 100vh;
    background-image: url("imagenes/fondo.png");
    background-size: cover;
}

.pelicula {
    position: absolute;
    top: 30%;
    left: 3%;
    width: 40%;
}
button {
    background-color:rgb(0, 140, 255) ;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

@media (max-width:1024px){
    .lista {
        left: 41%;
    }
}

@media (max-width:768px){
    .pelicula {
        text-align: center;
        width: 90%;
    }
    .lista {
        left: 41%;
    }
}

@media (max-width:555px){
    .pelicula {
        text-align: center;
        width: 90%;
    }
    .titulo{
        left: 27%;
    }
    .lista {
        top: 10%;
        left: 20%;
    }
}