*{
    color: white;
    font-family: arial;
    line-height: 30px;
}
nav{
    display: flex;
    align-items: center;
}
.titulo{
    position: absolute;
    top:1%;
    left: 3%;
}
.lista {
    position:absolute;
    top: 2%;
    left: 15%;
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

.lista li {
    display: flex;
    align-items: center;
    gap: 8px;
}

.busqueda {
    position:absolute;
    top: 3%;
    right: 3%;
}

.contenedor {
    width: 100%;
    height: 100vh;
    background-image: url("imagenes/fondo.png");
    background-size: cover;
}

.pelicula {
    position: absolute;
    top: 30%;
    left: 3%;
    width: 40%;
}
button {
    background-color:rgb(0, 140, 255) ;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.contenedorEscenas{   
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.escenas{
    text-align: center;
    padding: 20px;
    font-size: 50px;
}
.tarjeta-cap{
    width: 95%;
   margin-bottom: 28px;
    background-color: gray;
    border-radius: 50px;
}
.tarjeta-cap p {
    margin-top: -10px;
}
.tarjeta-person{
    width: 30%;
   margin-bottom: 0;
    background-color: gray;
    border-radius: 50px;
}
.imagensize{
    width: 100%;
    height: 100%;
    border-radius: 50px;
}
.contenedorimagenes{
    width: 90%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    border-radius: 50px;
}
.contenedorimagenes2{
    width: 90%;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5%;
    justify-content: center;
    border-radius: 50px;
}
.contenedorPersonajes{
    width: 100%;
    height: 666px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}
.contenedorperson{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
@media (max-width:1024px){
    .lista {
        left: 41%;
    }
}

@media (max-width:768px){
    .pelicula {
        text-align: center;
        width: 90%;
    }
    .lista {
        left: 41%;
    }
    .contenedorimagenes{
        grid-template-columns: 1fr 1fr;
    }
    .contenedorimagenes2{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:555px){
    .pelicula {
        text-align: center;
        width: 90%;
    }
    .titulo{
        left: 27%;
    }
    .lista {
        top: 10%;
        left: 20%;
    }
    .contenedorimagenes{
        grid-template-columns: 1fr;
    }
    .contenedorimagenes2{
        grid-template-columns: 1fr;
    }

}