.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor{
    width: 750px;
    height: 500px;
    background-image: url("img/Captura\ de\ pantalla\ 2025-10-16\ 142326.png");
    background-size: cover;
    position: relative;
}
.coins{
    display: flex;
    background-color: rgba(68, 68, 68, 0.486);
    border-radius: 10px;
    width: 100px;
    height: 40px;
    margin: 10px;
}
.contadormonedas{
    position: absolute;
    top: 1%;
    left: 10%;
    color: white;
    font-size: 20px;
}
.score{
    display: flex;
    background-color: rgba(68, 68, 68, 0.486);
    border-radius: 10px;
    width: 100px;
    height: 40px;
    margin: 10px;
}
.vidas{
    position: absolute;
    top: 20px;
    left: 930px;
}
.pat0{
    position: absolute;
    width: 40px;
}
.contadorpatos{
    position: absolute;
    top: 11%;
    left: 10%;
    color: white;
    font-size: 20px;
}
.coin{
    position: absolute;
    width: 40px;
}
.moneda{
    width: 50px;
    position: absolute;
}

.m2 {
    left: 5%;
}
.m3 {
    left:10%;
}
.m4 {
    left: 15%;
}
.m5 {
    left: 20%;
}
.nube{
    position: absolute;
    width: 150px;
    top: 10%;
    left: 50%;
}
.pato{
    position: absolute;
    width: 80px;
    top: 60%;
    left: 20%;
}
.p2{
    left: 70%;
}

/* animacion monedas */

@keyframes salto {
    0% {transform: translateY(0); opacity: 1;}
    50% {transform: translateY(-60px);}
    100% {transform: translateY(0);opacity: 0;}
}
.saltar{
    animation: salto 0.6s ease forwards;
}

.bajar{
    animation: salto 0.6s ease reverse;
}

/* animacion nube */

@keyframes moverNube {
    0% {left: 50%;}
    100% {left: 70%;}
}
.movernube{
    animation: moverNube 10s linear infinite alternate;
}